.contentAll {
  max-width: 100%;
  height: 100vh;
  background-color: #7721bf;
  padding: 5rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentForm {
  display: flex;
  max-width: 1000px;
  min-width: 200px;
  gap: 20%;
  padding: 5rem;
  align-items: center;
  background-color: #fafafa;
  width: max-content;
  height: max-content;
  border-radius: 15px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.contentTitle {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contentTitle h6 {
  font-size: 1.8rem;
  margin: 0 0 0 0;
}

.contentTitle p {
  margin: 0;
  color: #444;
  margin-bottom: 2rem;
  text-align: start;
}

.contentForm img {
  width: 100%;
  height: 100%;
}

.contentImgInfo {
  text-align: center;
  width: 400px;
}

.contentForm form {
  width: 40%;
}

.contentInputs {
  display: flex;
  flex-direction: column;
}

.contentInputs label,
.contentInputFile label {
  font-size: 1.5rem;
  color: #444;
}

.contentInputs textarea,
.contentInputFile textarea {
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.contentInputs textarea:focus,
.contentInputFile textarea:focus {
  outline: 1px solid #7721bf;
  box-shadow: 2px 2px 10px rgba(119, 33, 191, 0.2);
}

.contentInputs input {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 250px;
  height: 50px;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.contentInputs select {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 283px;
  height: 50px;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.contentInputs select:focus {
  outline: 1px solid #7721bf;
}

.contentInputs input:focus {
  outline: 1px solid #7721bf;
  box-shadow: 2px 2px 10px rgba(119, 33, 191, 0.2);
}

.contentInputFile {
  display: flex;
  flex-direction: column;
}

.contentInputFile input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.contentInputFile label {
  font-size: 14px;
  font-weight: 600;
  color: #7721bf;
  border: 1px solid #7721bf;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}

.contentInputFile p {
  position: relative;
  margin: 0;
}

.contentForm button {
  background-color: #7721bf;
  color: #fff;
  font-size: 1rem;
  padding: 0.8em 1.2rem;
  border-radius: 20px;
  border: none;
  margin-top: 1rem;
}

.networks {
  color: #7721bf;
}

/* @media (max-width: 1200px) {
  .contentForm {
    gap: 5rem;
  }
} */

@media (max-width: 1000px) {
  .contentImgInfo {
    display: none;
  }
  .contentForm form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 1rem 0;
  }
  .contentTitle h6 {
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .contentTitle p {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .contentAll {
    padding: 0;
  }
  .contentForm {
    display: flex;
    width: 90%;
    padding: 0;
    align-items: center;
    background-color: #fafafa;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  }

  .contentForm img {
    display: none;
  }

  .contentImgInfo {
    display: none;
  }

  .contentForm form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 1rem 0;
  }

  .contentTitle h6 {
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .contentTitle p {
    text-align: center;
  }
  .contentInputs {
    width: 80%;
  }

  .contentInputs textarea {
    width: 100%;
  }
}
