.contentAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-left: 25%;
  height: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.contentAll:hover {
  transform: scale(1.1);
}

.contetInfoUser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
}

.contetInfoUser h6 {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.contetInfoUser img {
  width: 40px;
  height: 40px;
}

.reviewText {
  font-size: 1rem;
  text-align: start;
}

@media (max-width: 700px) {
  .contentAll {
    width: 100%;
    margin-left: 0;
    gap: 25px;
    height: max-content;
    padding: 20px;
    transition: none
  }

  .contentAll:hover {
    transform: none
  }


  .contetInfoUser img {
    width: 30px;
    height: 30px;
  }

  .reviewText {
    font-size: 0.8rem;
    text-align: start;
  }
}