.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    height: 800px;
    width: 400px;
}
.form label{
    margin-bottom: 5px;
    margin-top: 5px;
}

.form input{
    border-radius: 10px;
    box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}