.contentAll {
  background-color: #fff;
  width: 550px;
  height: 40px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);

}

.contentAll[data-isOpen="true"] {
  height: auto;
  height: auto;
  padding: 0 10px 10px 10px;
}

.contentPrimary {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding-top: 8px;
  padding: 8px;
}


.contentAll input {
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #9c31f6;
  border-radius: 5px;
}

.contentAll input:checked {
  background-color: #9c31f6;
}

.title {
  font-size: 1.2rem;
  margin: 0;
}

.arrow {
  cursor: pointer;
}

.infoMore a {
  color: blue;
  cursor: pointer;
}

.infoMoreContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  /* height: 550px; */
}

.infoMoreContent[data-isOpen="false"] {
  display: none;
}

.buttonsContainer[data-isOpen="false"] {
  display: none;
}

.textInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 5px 10px;
}

.showMoreButton {
  border: none;
  width: 150px;
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #9c31f6;
  margin: 50px 0 50px 0;
  color: #fff;
}

.buttonSolicited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 25px;
  margin-top: 10px;
  border: 1px solid #7a1bb5;
  background-color: #fff;
  color: #7a1bb5;
  cursor: pointer;
  border-radius: 10px;
}

.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 25px;
  margin-top: 10px;
  border: 1px solid #7a1bb5;
  background-color: #fff;
  color: #7a1bb5;
  cursor: pointer;
  border-radius: 10px;
}

.downloadLink {
  text-decoration: none;
  color: #7a1bb5;
}

.listIncludes li {
  list-style: disc;
  margin: 5px 0 5px 0;
  font-size: 1rem;
}
.noBullet {
  list-style-type: none;
}


@media (max-width: 650px) {
  .contentAll {
    background-color: #fff;
    width: 400px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);

  }
}

@media (max-width: 480px) {
  .contentAll {
    background-color: #fff;
    width: 300px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);

  }

  .textInfo {
    font-size: 1rem;
  }

  .title {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
  }

}